mixin feature-first(data)
  section.feature
    .feature__container.container
      h2.feature__title.title.title_big Управление данными
      .feature__row.flex.flex_top
        .feature__image
          img(src="assets/images/content/feature-img-1.jpg", alt="")
        .feature__text.wysiwyg
          p Система позволяет собирать, консолидировать и обрабатывать данные по объектам имущественного и производственного комплексов.
          ul.feature__list.list.list_theme_secondary
            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Пространственная инвентаризация активов с использованием геодезических измерений и лазерного сканирования, проектной и исполнительной документации, архивных сведений.
            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Интеграция информации по земельным участкам и межевым знакам.
            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Интегрированное хранилище данных и справочным информированием об объектах, включая их форму и размещение, а также инструменты пространственного и атрибутивного анализа.
            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Формирование блок вспомогательных слоев: топографическая съемка, генеральные планы, данные дистанционного зондирования.
            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Определение пространственных моделей отношений.


mixin feature-second(data)
  section.feature
    .feature__container.container
      h2.feature__title.title.title_big Визуализация

      .feature__row.flex.flex_top
        .feature__image
          img(src="assets/images/content/feature-img-2.jpg", alt="")
        .feature__text.wysiwyg
          p В решении уделено особое внимание созданию удобного и понятного визуального представления собранных данных и их последующему анализу. Одно из преимуществ платформы – совместное использование двумерного и трехмерного представлений информации об объектах.

          ul.feature__list.list.list_theme_secondary
            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Визуализация территории с расположенными на ней объектами в формате 2D/3D.

            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Наглядный анализ, планирование и контроль развития предприятий.

            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Естественная визуальная оценка пространственных характеристик объектов, вариантов взаимодействия друг с другом и с окружающей средой.

            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Доступ к электронным копиям документов.



mixin feature-third(data)
  section.feature
    .feature__container.container
      h2.feature__title.title.title_big Автоматизация бизнес-процессов

      .feature__row.flex.flex_top
        .feature__image
          img(src="assets/images/content/feature-img-3.jpg", alt="")
        .feature__text.wysiwyg
          p Система обеспечивает консолидацию данных на всех этапах жизненного цикла объектов имущества.

          ul.feature__list.list.list_theme_secondary
            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Систематизация всех типов данных (об активах, персонале, продукции, финансовая и отчетная информация).

            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Анализ событийной информации в режиме реального времени.

            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Расчет различных сценариев и вероятных результатов решений.

            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Единый стандарт управления пространственными данными


mixin feature-fourth(data)
  section.feature
    .feature__container.container
      h2.feature__title.title.title_big Консолидация параметров управления

      .feature__row.flex.flex_top
        .feature__image
          img(src="assets/images/content/feature-img-4.jpg", alt="")
        .feature__text.wysiwyg
          p «Циклон» поможет собрать все инструменты управления в единой геоинформационной системе, что повысит скорость и степень управляемости объектами имущественного и производственного комплексов.

          ul.feature__list.list.list_theme_secondary
            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Объединение разнородной информации по всем активам.

            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Визуализация изменений в режиме реального времени.

            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Разграничение зон ответственности в составе ЕГИС.

            li.list__item
              != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
              .list__text Быстрый и понятный поиск необходимых данных.