mixin partners(data)
  section.partners
    .partners__container.container
      h2.partners__title.title.title_big С нами сотрудничают
      ul.partners__list.flex.flex_top
        li.partners__item
          img.partners__image(src="assets/images/content/partner-gazprom.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-rzd.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-vtb.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-lsr.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-rosseti.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-6.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-7.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-8.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-9.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-10.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-11.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-12.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-13.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-14.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-15.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-16.png", alt="")
        li.partners__item
          img.partners__image(src="assets/images/content/partner-17.png", alt="")

      .partners__button-w
        a.partners__button.button(href="#button") Подробнее
