mixin functions(data)
  section.functions
    .functions__container.container
      h2.functions__title.title.title_big Функциональные возможности
      .functions__tabs.tabs.flex.flex_top

        .functions__w
          .functions__item#tab-1
            .functions__content
              .functions__image
                img(src="assets/images/content/functions-1.jpg", alt="")
              .functions__text.wysiwyg
                p На этапе инициации проекта строительства система обеспечивает сбор и анализ всех данных: о земельных участках, правах на собственность, категории земель, на основе которых помогает сделать выбор оптимальных участков застройки, а также расположить на территории объекты в соответствии с необходимыми параметрами. Проведение инструментами системы анализа по определению оптимального состава и количества технического оборудования, строительных материалов, персонала, способов их доставки и размещения с дальнейшим объединением в единую многослойную картину обеспечивает создание технического и экономического обоснования строительства, и позволяет избежать непредвиденных расходов при предпроектном исследовании.

          .functions__item#tab-2
            .functions__content
              .functions__image
                img(src="assets/images/content/functions-2.jpg", alt="")
              .functions__text
                p При проведении проектно-изыскательных работ обеспечивается хранение разнородных данных об изучаемых территорий в единой среде, коллективный доступ к данным, а также быстрый поиск и управление ресурсами оптимизирует объем инженерных изысканий и конкретизирует их. Мощные средства визуализации с точной географической привязкой, а также обширные инструменты управления и анализа данных объединяют составные части проекта входящие в состав ПИР, сокращают сроки проектирования, улучшают качества составления проектной документации, оптимизируют производительность, тем самым сокращают сроки для принятия взвешенных управленческих решений.

          .functions__item#tab-3
            .functions__content
              .functions__image
                img(src="assets/images/content/functions-3.jpg", alt="")
              .functions__text
                p Применение системы при проведении строительно-монтажных работах обеспечивает мониторинг, контроль, а также коммуникацию с подрядными организациями, выполняющими работы на объектах. Хранение всех данных об объекте и 3D визуализация позволяет контролировать сроки строительства сопоставляя фактически выполненные работы с плановыми, а геодезическая точность и картографическая привязка модели позволяет избежать расчетных ошибок и деформации объекта.

          .functions__item#tab-4
            .functions__content
              .functions__image
                img(src="assets/images/content/functions-4.jpg", alt="")
              .functions__text
                p В процессе эксплуатации система предоставляет аналитику по арендным отношениям, пространственному размещению, состоянию оборудования, оперативную отчетность, а также является электронным хранилищем документов: инженерная и проектная документация, выписки БТИ, кадастровые паспорты и выписки, акты приемки в эксплуатацию, договоры аренды, технический паспорт здания, журнал эксплуатации, проект благоустройства и т.п. Также в системе осуществляется мониторинг и прогнозирование состояния объектов, планирование и фиксация выполнения работ, управление кризисными ситуациями во время эксплуатации.

          .functions__item#tab-5
            .functions__content
              .functions__image
                img(src="assets/images/content/functions-5.jpg", alt="")
              .functions__text
                p Использование системы при проведении реконструкции объектов обеспечивает хранение данных о существующих объектах, позволяет фиксировать и хранить информацию о всех дефектах объектов (даты и причины их возникновения), оценить их опасность, тем самым выстраивая приоритетность проведения восстановительных работ, организовывать и контролировать деятельность ремонтных бригад. Возможность хранения ретроспективных данных об объектах обеспечивает возможность взглянуть на состояние объекта за любой отрезок времени его жизненного цикла.

        .functions__nav-w
          ul.functions__nav.tabs__nav(data-tabs)
            li.tabs__item
              a.tabs__link(href="#tab-1" data-tabby-default data-text="Инициация проекта") Инициация проекта
            li.tabs__item
              a.tabs__link(href="#tab-2" data-text="Проектно-изыскательские работы") Проектно-изыскательские работы
            li.tabs__item
              a.tabs__link(href="#tab-3" data-text="Строительно-монтажные работы") Строительно-монтажные работы
            li.tabs__item
              a.tabs__link(href="#tab-4" data-text="В процессе эксплуатации") В процессе эксплуатации
            li.tabs__item
              a.tabs__link(href="#tab-5" data-text="Реконструкция") Реконструкция

        .functions__controls

      .functions__bottom.flex.flex_top
        ul.functions__list.list.flex.flex_top
          li.list__item.flex.flex_vertical
            != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
            .list__text Управление данными
          li.list__item.flex.flex_vertical
            != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
            .list__text Автоматизация бизнес-процессов
          li.list__item.flex.flex_vertical
            != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
            .list__text Консолидация параметров управления
          li.list__item.flex.flex_vertical
            != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
            .list__text Визуализация

        a.functions__button.button(href="#") Подробнее


mixin functions-features(data)
  section.functions
    .functions__container.container
      h2.functions__title.title.title_big Функциональные возможности
      .functions__tabs.tabs.flex.flex_top

        .functions__w
          .functions__item#tab-1
            .functions__content
              .functions__image
                img(src="assets/images/content/functions-1.jpg", alt="")
              .functions__text.wysiwyg
                p На этапе инициации проекта строительства система обеспечивает сбор и анализ всех данных: о земельных участках, правах на собственность, категории земель, на основе которых помогает сделать выбор оптимальных участков застройки, а также расположить на территории объекты в соответствии с необходимыми параметрами. Проведение инструментами системы анализа по определению оптимального состава и количества технического оборудования, строительных материалов, персонала, способов их доставки и размещения с дальнейшим объединением в единую многослойную картину обеспечивает создание технического и экономического обоснования строительства, и позволяет избежать непредвиденных расходов при предпроектном исследовании.

          .functions__item#tab-2
            .functions__content
              .functions__image
                img(src="assets/images/content/functions-2.jpg", alt="")
              .functions__text
                p При проведении проектно-изыскательных работ обеспечивается хранение разнородных данных об изучаемых территорий в единой среде, коллективный доступ к данным, а также быстрый поиск и управление ресурсами оптимизирует объем инженерных изысканий и конкретизирует их. Мощные средства визуализации с точной географической привязкой, а также обширные инструменты управления и анализа данных объединяют составные части проекта входящие в состав ПИР, сокращают сроки проектирования, улучшают качества составления проектной документации, оптимизируют производительность, тем самым сокращают сроки для принятия взвешенных управленческих решений.

          .functions__item#tab-3
            .functions__content
              .functions__image
                img(src="assets/images/content/functions-3.jpg", alt="")
              .functions__text
                p Применение системы при проведении строительно-монтажных работах обеспечивает мониторинг, контроль, а также коммуникацию с подрядными организациями, выполняющими работы на объектах. Хранение всех данных об объекте и 3D визуализация позволяет контролировать сроки строительства сопоставляя фактически выполненные работы с плановыми, а геодезическая точность и картографическая привязка модели позволяет избежать расчетных ошибок и деформации объекта.

          .functions__item#tab-4
            .functions__content
              .functions__image
                img(src="assets/images/content/functions-4.jpg", alt="")
              .functions__text
                p В процессе эксплуатации система предоставляет аналитику по арендным отношениям, пространственному размещению, состоянию оборудования, оперативную отчетность, а также является электронным хранилищем документов: инженерная и проектная документация, выписки БТИ, кадастровые паспорты и выписки, акты приемки в эксплуатацию, договоры аренды, технический паспорт здания, журнал эксплуатации, проект благоустройства и т.п. Также в системе осуществляется мониторинг и прогнозирование состояния объектов, планирование и фиксация выполнения работ, управление кризисными ситуациями во время эксплуатации.

          .functions__item#tab-5
            .functions__content
              .functions__image
                img(src="assets/images/content/functions-5.jpg", alt="")
              .functions__text
                p Использование системы при проведении реконструкции объектов обеспечивает хранение данных о существующих объектах, позволяет фиксировать и хранить информацию о всех дефектах объектов (даты и причины их возникновения), оценить их опасность, тем самым выстраивая приоритетность проведения восстановительных работ, организовывать и контролировать деятельность ремонтных бригад. Возможность хранения ретроспективных данных об объектах обеспечивает возможность взглянуть на состояние объекта за любой отрезок времени его жизненного цикла.

        .functions__nav-w
          ul.functions__nav.tabs__nav(data-tabs)
            li.tabs__item
              a.tabs__link(href="#tab-1" data-tabby-default data-text="Инициация проекта") Инициация проекта
            li.tabs__item
              a.tabs__link(href="#tab-2" data-text="Проектно-изыскательские работы") Проектно-изыскательские работы
            li.tabs__item
              a.tabs__link(href="#tab-3" data-text="Строительно-монтажные работы") Строительно-монтажные работы
            li.tabs__item
              a.tabs__link(href="#tab-4" data-text="В процессе эксплуатации") В процессе эксплуатации
            li.tabs__item
              a.tabs__link(href="#tab-5" data-text="Реконструкция") Реконструкция


