mixin implemented(data)
  .implemented
    .implemented__container.container
      ul.implemented__grid.flex.flex_top
        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-gazprom.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Невтегаз
            li.implemented__category
              span.implemented__tag ПИР

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-rzd.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Машиностоение
            li.implemented__category
              span.implemented__tag КГИС
            li.implemented__category
              span.implemented__tag ПОВ

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-vtb.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Строительство
            li.implemented__category
              span.implemented__tag КИМ
            li.implemented__category
              span.implemented__tag ПОВ

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-lsr.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Строительство
            li.implemented__category
              span.implemented__tag КИМ
            li.implemented__category
              span.implemented__tag ПОВ

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-rosseti.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Энергетика
            li.implemented__category
              span.implemented__tag КИМ
            li.implemented__category
              span.implemented__tag КГИС
            li.implemented__category
              span.implemented__tag ПОВ

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-6.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Госсектор
            li.implemented__category
              span.implemented__tag КГИС

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-7.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Строительство
            li.implemented__category
              span.implemented__tag ПОВ

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-8.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Энергетика
            li.implemented__category
              span.implemented__tag КГИС

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-9.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Энергетика
            li.implemented__category
              span.implemented__tag КИМ

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-10.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Машиностоение
            li.implemented__category
              span.implemented__tag Циклон
            li.implemented__category
              span.implemented__tag КГИС


        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-11.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Строительство
            li.implemented__category
              span.implemented__tag КИМ
            li.implemented__category
              span.implemented__tag ПОВ


        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-12.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Строительство
            li.implemented__category
              span.implemented__tag Циклон
            li.implemented__category
              span.implemented__tag КГИС
            li.implemented__category
              span.implemented__tag ПОВ

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-13.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Машиностоение
            li.implemented__category
              span.implemented__tag КИМ
            li.implemented__category
              span.implemented__tag КГИС
            li.implemented__category
              span.implemented__tag ПИР

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-14.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Строительство
            li.implemented__category
              span.implemented__tag КГИС
            li.implemented__category
              span.implemented__tag ПОВ

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-15.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Невтегаз
            li.implemented__category
              span.implemented__tag КИМ
            li.implemented__category
              span.implemented__tag ПОВ

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-16.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Строительство
            li.implemented__category
              span.implemented__tag ПОВ

        li.implemented__item
          .implemented__image
            img(src="assets/images/content/partner-17.png", alt="")

          ul.implemented__list
            li.implemented__category
              span.implemented__tag Строительство
            li.implemented__category
              span.implemented__tag КИМ
            li.implemented__category
              span.implemented__tag ПОВ


