mixin mobile(data)
  section.mobile
    .mobile__container.container
      h2.mobile__title.title.title_big Мобильная версия
      .mobile__row.flex.flex_top
        .mobile__image
          img(src="assets/images/content/mobile-img.png", alt="")
        .mobile__w.flex.flex_top
          .mobile__col
            p Платформа обеспечивает навигацию сотрудников по местности и объектам при помощи, а также предоставляет доступ ко всей необходимой информации по объекту на месте (конструкторской и исполнительной документации, техническим паспортам и инструкциям).
          .mobile__col
            p Поиск объекта и маршрут к нему. <br/>Доступ к документации. <br/>Регистрация результатов осмотра. <br/>Оперативная отправка информации в систему. <br/>Контроль перемещений персонала.