mixin import(data)
  section.import
    .import__container.container
      h2.import__title.title.title_big Импортозамещение ГИС
      .import__row.flex.flex_top
        .import__col.wysiwyg
          p Долгое время на российском рынке доминировали геоинформационные системы зарубежного производства. Сегодня импортозамещение в области ГИС является важным фактором национальной безопасности страны. Поэтому множество крупных государственных предприятий планируют переход на российские решения. Однако, как это сделать без ущерба для текущей производственной деятельности и серьезных финансовых затрат?
        .import__col.wysiwyg
          p Мы поможем обеспечить экономически обоснованный, гибкий и поэтапный переход с зарубежных технологий на отечественную платформу, полностью соответствующую требованиям регулятора. Также наше решение ускорит текущий механизм работы зарубежной ГИС за счет использования только высокоэффективных компонентов с доказанной на крупных проектах эффективностью.
        .import__col.wysiwyg
          p Благодаря расширению функциональности существующей инфраструктуры пространственных данных возможностями геоинформационной платформы «Циклон» проект миграции пройдет без серьезных доработок и длительных проектов внедрения. Кроме того, система не потребует дополнительных финансовых и временных затрат на интеграцию с уже работающими на предприятии ГИС.

      .import__note.wysiwyg
        p
          i Платформа «Циклон» — российская ГИС, которая полностью соответствует требованиям указа президента РФ 163-РП от 18.05.2017 о замене геоинформационных систем зарубежных разработчиков.

