mixin header(data)
  header.header
    .header__container.container.flex
      a.header__logo.logo(href="#")
        .logo__text Циклон
        != pugHelpers.Icon.call(locals, {iconName: 'logo', className: 'logo__image'})

      nav.header__nav.nav
        button.nav__button
          != pugHelpers.Icon.call(locals, {iconName: 'menu-icon', className: 'nav__menu'})
          != pugHelpers.Icon.call(locals, {iconName: 'close-icon', className: 'nav__menu nav__menu_close'})

        ul.nav__list
          li.nav__item.nav__item_active
            a.nav__link(href="/index.html") Обзор
          li.nav__item
            a.nav__link(href="/capabilities.html") Возможности
          li.nav__item
            a.nav__link(href="/functions.html") Функции
          li.nav__item
            a.nav__link(href="/implemented.html") Где внедрена
          li.nav__item
            a.nav__link(href="/support.html") Поддержка
          li.nav__item
            a.nav__link(href="/contacts.html") Контакты