doctype html
html(class="no-js", lang="ru")

  include ../blocks/head/head.pug
  include ../blocks/header/header.pug

  include ../blocks/hero/hero.pug
  include ../blocks/contacts/contacts.pug

  //- include ../blocks/support/support.pug

  //- include ../blocks/about/about.pug

  //- include ../blocks/capabilities/capabilities.pug
  //- include ../blocks/benefits/benefits.pug
  //- include ../blocks/advantages/advantages.pug
  //- include ../blocks/mobile/mobile.pug
  //- include ../blocks/implemented/implemented.pug

  //- include ../blocks/functions/functions.pug
  //- include ../blocks/partners/partners.pug
  //- include ../blocks/import/import.pug
  //- include ../blocks/feature/feature.pug

  include ../blocks/footer/footer.pug

  head
    +head(head.defaults)
  body.page.page_inner
    |%=symbols=%
    +header()
    //- end header
    main.page__inner
      +hero-contacts()
      +contacts()
      //- +implemented()
      //- +about()
      //- +capabilities-second()
      //- +benefits()
      //- +advantages()
      //- +mobile()
      //- +functions-features()
      //- +feature-first()
      //- +feature-second()
      //- +feature-third()
      //- +feature-fourth()


      //- +feature-first()
      //- +feature-first()


      //- +partners()
      //- +import()

    .page__footer
      +footer()
      //- +popup()#callback.mfp-hide
      //- +popup-thanks()#callback-thanks.mfp-hide

    //- script(src="https://api-maps.yandex.ru/2.1/?apikey=d491e610-d9d0-4022-9b4c-e2d184cf5425&lang=ru_RU")
    //- script(src="https://maps.googleapis.com/maps/api/staticmap?key=YOUR_API_KEY&center=47.69497846216464,-122.2756773004139&zoom=12&format=png&maptype=roadmap&style=feature:administrative%7Celement:labels.text.fill%7Ccolor:0x444444&style=feature:landscape%7Ccolor:0xf2f2f2&style=feature:poi%7Cvisibility:off&style=feature:road%7Csaturation:-100%7Clightness:45&style=feature:road.arterial%7Celement:labels.icon%7Cvisibility:off&style=feature:road.highway%7Cvisibility:simplified&style=feature:transit%7Cvisibility:off&style=feature:water%7Ccolor:0x5199ff%7Cvisibility:on&size=480x360")



    script(src='%=static=%js/separate-js/lazyload.min.js' )
    script(src='%=static=%js/separate-js/jquery.min.js')
    script(src='%=static=%js/separate-js/slick.min.js')
    //- script(src='%=static=%js/separate-js/jquery.magnific-popup.min.js')
    script(src='%=static=%js/main%=hash=%%=min=%.js')


    script.
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var uluru = {lat: 59.947220, lng: 30.255571};
        // The map, centered at Uluru
        var map = new google.maps.Map( document.getElementById('map'), {
            zoom: 17,
            center: uluru,
            disableDefaultUI: true,
            zoomControl: true,
            styles: [
              {
                  "featureType": "administrative",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "color": "#444444"
                      }
                  ]
              },
              {
                  "featureType": "landscape",
                  "elementType": "all",
                  "stylers": [
                      {
                          "color": "#f2f2f2"
                      }
                  ]
              },
              {
                  "featureType": "poi",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "road",
                  "elementType": "all",
                  "stylers": [
                      {
                          "saturation": -100
                      },
                      {
                          "lightness": 45
                      }
                  ]
              },
              {
                  "featureType": "road.highway",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "simplified"
                      }
                  ]
              },
              {
                  "featureType": "road.arterial",
                  "elementType": "labels.icon",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "transit",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "water",
                  "elementType": "all",
                  "stylers": [
                      {
                          "color": "#5199ff"
                      },
                      {
                          "visibility": "on"
                      }
                  ]
              }
          ]
          }
        );
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, icon: 'assets/images/general/marker.png', map: map});
      }

    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDO60TDSumlziHzbybxGGbAEegP7zLX0Y&callback=initMap")

  //- script.
  //-   ymaps.ready(init);

  //-   function init() {
  //-     var myMap = new ymaps.Map('map', {
  //-       center: [55.720418, 37.772047],
  //-       zoom: 17,
  //-       controls: ['']
  //-     }, {
  //-           searchControlProvider: ''
  //-       });

  //-     var myPlacemark = new ymaps.Placemark(
  //-       [55.720418, 37.772047], {
  //-           balloonContent: '109428, Город Москва, Рязанский проспект, дом 26, строение 13, эт 3 пом 1 ком 13'
  //-       }, {
  //-           //- iconLayout: 'default#image',
  //-           //- iconImageHref: 'assets/images/general/marker.png',
  //-           //- iconImageSize: [14, 19],
  //-       }
  //-     );

  //-     myMap.geoObjects.add(myPlacemark);

  //-   }