mixin advantages(data)
  section.advantages
    .advantages__container.container
      h2.advantages__title.title.title_big Встраивание в инфраструктуру и масштабирование

      .advantages__text.wysiwyg
        p «Циклон» легко масштабируется и быстро интегрируется с учетными и информационными системами: SAP, 1С, АСУ ТП и другими, а также с другими геоинформационными системами, используемыми в организации.

      h2.advantages__title.title.title_big Удобство использования
      .advantages__text.wysiwyg
        p Система поддерживает режим многопользовательского доступа и редактирования, а также возможность настройки пользовательских фильтров по свойствам объектов для структурирования и быстроты реагирования.

      h2.advantages__title.title.title_big Поддерживаемые платформы

      ul.advantages__list.flex.flex_top
        li.advantages__item
          .advantages__image
            img(src="assets/images/content/windows-img.png", alt="")
          .advantages__item-title Windows Server 2012+

        li.advantages__item
          .advantages__image
            img(src="assets/images/content/rhel-img.png", alt="")
          .advantages__item-title RHEL

        li.advantages__item
          .advantages__image
            img(src="assets/images/content/debian-img.png", alt="")
          .advantages__item-title Linux Debian 8+

        li.advantages__item
          .advantages__image
            img(src="assets/images/content/suse-img.png", alt="")
          .advantages__item-title SuSE 10+

        li.advantages__item
          .advantages__image
            img(src="assets/images/content/firefox-img.png", alt="")
          .advantages__item-title Mozilla Firefox 50+

        li.advantages__item
          .advantages__image
            img(src="assets/images/content/chrome-img.png", alt="")
          .advantages__item-title Google Chrome 50+

        li.advantages__item
          .advantages__image
            img(src="assets/images/content/edge-img.png", alt="")
          .advantages__item-title Microsoft Edge 11


      .advantages__note.wysiwyg
        p
          i Для разработчиков есть удобные функции добавления карт web-приложения с помощью API геоинформационной платформы «Циклон».