mixin about(data)
  .about
    .about__container.container
      .about__row.flex.flex_top
        .about__col.wysiwyg
          p «Циклон» - стандартизированное решение, которое позволяет государственным предприятиям и компаниям с государственным участием соответствовать законодательству и нормативам РФ в области геоинформатики и проектирования:
        .about__col.wysiwyg
          p В основе системы лежат накопленный опыт международных разработчиков ГИС, понимание специфики российского рынка, национальных стандартов, методологии и направления развития рынка геоинформатики в России.
        .about__col.wysiwyg
          p Решение учитывает текущие экономические тренды: стандартизация и государственное регулирование, управление рисками, системы поддержки принятия управленческих решений, интеллектуальный анализ большого объема информации для управления на уровне государства и крупного бизнеса.