mixin benefits(data)
  section.benefits
    .benefits__container.container
      h2.benefits__title.title.title_big Функциональные преимущества
      ul.benefits__list.list.list_theme_secondary.flex.flex_top
        li.benefits__item.list__item
          != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
          .list__text Единая информационная среда для коллективной работы, как в рамках территориально распределенного предприятия, так и в масштабах всей страны

        li.benefits__item.list__item
          != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
          .list__text Оперативный доступ к достоверной информации об инфраструктуре в территориально-временном разрезе.

        li.benefits__item.list__item
          != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
          .list__text Объединение пространственной информации из различных источников.

        li.benefits__item.list__item
          != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
          .list__text Надежность учета, хранения и обработки пространственной и семантической информации.

        li.benefits__item.list__item
          != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
          .list__text Качественно новый уровень межведомственного взаимодействия.

        li.benefits__item.list__item
          != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
          .list__text Эффект присутствия и полнота восприятия при дистанционном управлении производственными и имущественными активами.

        li.benefits__item.list__item
          != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
          .list__text Минимизация трудозатрат сотрудников на поиск и анализ данных.

        li.benefits__item.list__item
          != pugHelpers.Icon.call(locals, {iconName: 'list-icon', className: 'list__icon', iconWidth: '32', iconHeight: '32'})
          .list__text Гибкий и быстрый переход на отечественную систему.
